.product{
    width: 254px;
    height: 440px;
    border: 2px solid gray;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
}
.product img{
      width: 240px;
      height: 286px;
      border-radius: 8px;
      margin: 7px;
}
.product-info{
    margin: 0 14px;
}
.product-name{
    line-height: 25px;
    font-weight: 400px;
    font-size: 21px;
    margin-top: 7px;
}
.cart-button{
    width: 100%;
    background: rgb(241, 171, 79);
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-button .button-txt{
    margin-right: 10px;
}
.cart-button:hover{
    background-color: rgb(223, 81, 39);
}
